/* - Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */

/* .young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
} */

/* .outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --clr-white: hsl(0, 0%, 100%);

  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);

  --clr-brown-800: hsl(14, 45%, 36%);

  --clr-rose-50: hsl(330, 100%, 98%);
  --clr-rose-800: hsl(332, 51%, 32%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* main {
} */

img {
  max-width: 100vw;
}

.wrapper {
  padding-inline: 32px;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
