:root {
  --clr-white: hsl(0, 0%, 100%);

  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);

  --clr-brown-800: hsl(14, 45%, 36%);

  --clr-rose-50: hsl(330, 100%, 98%);
  --clr-rose-400: hsl(330, 100%, 96%);
  --clr-rose-800: hsl(332, 51%, 32%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--clr-stone-600);
}

body {
  width: 100vw;
  background-color: var(--clr-rose-400);
  padding-block: 124px;
}

main {
  line-height: 1.5;
  max-width: 738px;
  padding-top: 32px;
  border-radius: 20px;
  background-color: var(--clr-white);
  justify-self: center;
}

img {
  display: block;
  width: 100vw;
  max-width: 674px;
  margin-inline: auto;
  border-radius: 10px;
}

.wrapper {
  padding: 32px;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

h1 {
  padding-block-end: 26px;
  color: var(--clr-stone-900);
}

p {
  padding-block-end: 32px;
}

.preptime {
  background-color: var(--clr-rose-50);
  padding: 25px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.preptime h2 {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: var(--clr-rose-800);
  padding-block-end: 20px;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
  list-style-position: outside;
}

.list li {
  padding-bottom: 20px;
  padding-left: 20px;
}

ul li::marker {
  font-size: 0.75em;
  color: var(--clr-rose-800);
}

.ingredients,
.steps {
  padding-block-start: 32px;
  padding-block-end: 10px;
  border-bottom: 1px solid var(--clr-stone-100);
}

.title {
  font-size: 26px;
  color: var(--clr-brown-800);
  padding-bottom: 25px;
}

.ingredients ul > li::marker {
  color: var(--clr-brown-800);
}

ol {
  padding-left: 20px;
  list-style-position: outside;
}

ol li::marker {
  color: var(--clr-brown-800);
  font-weight: bold;
}

.nutrients {
  padding-block-start: 32px;
}

.nutrients p {
  padding-bottom: 18px;
}

table {
  width: 100%;
  text-align: left;
}

th {
  padding-left: 28px;
  width: 50%;
  font-weight: 400;
}

td {
  color: var(--clr-brown-800);
}

th,
td {
  border-bottom: 1px solid var(--clr-stone-100);
  padding-block: 10px;
}

.no-border {
  border-bottom: 0;
}
